# **1 - Les SGBD**

## **Généralitées**

Il existe 3 types de base de données:  
* Bases de données **relationnels**  
* Bases de données **Not only SQL**  
* Bases de données **New SQL**  
  
Attention bug sur export csv préciser "LOCAL"  
https://www.mysqltutorial.org/import-csv-file-mysql-table/

**Ressources / Référence**  
https://www.lebigdata.fr/base-de-donnees  
SGBD_Forces_et_Faiblesses.pdf    
  
https://practicalprogramming.fr/mongodb/  
  
https://www.fun-mooc.fr/courses/course-v1:inria+41002+self-paced/about  
  
https://openclassrooms.com/fr/courses/4462426-maitrisez-les-bases-de-donnees-nosql/4474601-decouvrez-le-fonctionnement-de-mongodb  
  
https://sql.sh/cours/where

### Bases de données **relationnels**

Les données sont organisées en lignes et colonnes. On accède à un enregistrements à l'aide du nom de la table, du nom de la colonne, de la clé primaire (lorsqu'elle existe).
Les données sont indépendante les unes des autres. On peut facilement controler la cohérences d'un jeux de données, éviter la redondance. La manipulations des données est simple et ce fait au moyen de requête SQL. La base est unique. Toute les données ont le même format (même si certain champs ne sont pas renseigné, ils existent). 

Selon wikipedia, en 2010 la majorité des SGBD sont de type relationnel.
La clef primaire assure l'unicité des enregistrement.

### Bases de données **Not only SQL**

Not Only SQL est apparu en 2009 il en existe plusieurs types (XML, Objets, Graph, Triplet) et il n'y a pas de langage universel. Les données sont organisées en colonne, en documents, ou dans une structure de type objet. Les données n'ont donc pas nécessairement le même format.
Performance élevé pour les bases "big data".  
  
Les principaux sites du Web utilisent une base de données NoSQL (Google, Facebook, ...).  
L'extensibilité requise et la grande quantité de données et de mises à jour rendent le modèle relationnel  
inefficace.  
  
**XML/RDF:**  
Une base de données XML Native (NXD en anglais) est une base de données qui s'appuie sur le modèle de données fourni par XML. Elle utilise typiquement des langages de requête XML comme XPath ou XQuery. Une extension possible est une base RDF, avec le langage d'interrogation SPARQL.  
  
**Orienté objet et objet-relationnel :**  
Les SGBD orientés objet sont un sujet de recherche depuis 1980, lorsque sont apparus les premiers langages de programmation orientée objet. Ils sont destinés à offrir les fonctionnalités des SGBD à des langages orientés objet et permettre le stockage persistant des objets. Les objets sont manipulés en utilisant les possibilités natives des langages orientés objet et une interface de programmation permet d'exploiter les fonctionnalités du SGBD. Celui-ci est équipé des mécanismes nécessaires pour permettre l'utilisation des possibilités d'encapsulation, d'héritage et de polymorphisme des langages de programmation orientée objet12,13. Les SGBD objet-relationnel offrent à la fois les possibilités des SGBD orientés objet et ceux des SGBD relationnels14.

**Les logiciels NoSQL**  
Percolator de Google. Succède à BigTable pour l'index du moteur.  
MongoDB. Base de données orientée document. Utilisé par exemple par Sourceforge.  
ElasticSearch. Même s'il se présente comme un système de stockage de documents et de recherche dans ces  
documents, ES est en fait un SGBD et est assez similaire à MongoDB. Il est facile à déployer et utiliser et  
mis en pratique dans de grands sites, d'eCommerce notamment.  
Hadoop. Un framework implémentant MapReduce de Google, logiciel de traitement distribué de grandes quantités  
de données. Le project inclut HBase, qui est un gestionnaire de base de données utilisant le framework et conçu  
d'après BigTable.  
Aerospike. Basé sur le modèle clé-valeur comme aussi Redis, prétend être cent fois plus rapide que tout autre  
BD telle que MySQL. Utilise le langage Aerospike Query Language. (Licence Apache).

**Pourquoi NoSQL?**  
Le modèle classique est inopérant face à certains types de traitement:  
*Indexation d'une quantité de documents.  
*Sites à fort trafic.  
*Données de taille variables selon les enregistrements.  
*Réécritures fréquentes (le modèle classique prévoit plus de lectures que d'écritures).  
*Extensibilité de la base.  
*Quand la rapidité est importante.  
*Meilleure productivité, c'est plus simple.

### Bases de données **New SQL**

Ce n'est pas un format mais une nouvelle approche dans la mise en oeuvre. Le nom originel était "ScalableSQL"
et son objectif est la gestion de données à hautes performances.
On reproche à NoSQL de sacrifier le principe ACID (Atomicity, Consistency, Isolation, Durability) , atomicité,
consistence, isolation, durabilité, donc d'offrir une moins grande sureté dans l'accès aux données.
Une base de données NewSQL conserve la structure classique en colonnes mais fait appel à différents procédés
pour conserver la rapidité même sur de larges volumes.

VoltDB est un nouveau gestionnaire de BD basé sur NewSQL: il est conçu pour fonctionner entièrement en mémoire
ce qui lui procure une rapidité sans égale et rend Oracle obsolète. Base de donnée orientée graphe

Conçue spécialement pour stocker et retrouver les relations entre objets ou personnes, elle est plus efficace que la base de données relationnelle (malgré le nom), pour faire des requêtes sur ces liens. Elle n'a pas de table.

La structure de la base est composée de noeuds et propriétés, qui sont similaires aux objets des LOO, et d'arêtes, des données qui représentent un lien entre deux objets, avec une valeur qui représente le poids du lien. Le nombre de liens est variable et la base évolue sur deux niveaux, les objets ajoutés ou supprimés, et les liens.

Neo4J est peut-être le meilleur outil disponible pour une telle base de données, même s'il y a d'autres logiciels propriétaires ici ou là, tel que Pregel de Google. Un article décrit en détail le concept de ce logiciel (anglais).

Voir aussi...

ArangoDB, pour les indécis. Parfait example d'outil NoSQL, il combine le modèle Document, Graphs et Clé/Valeur. L'article décrit les différents modèles ainsi que le modèle en table et le modèle relationnel classique pour comparaison.

Cassandra de Facebook. Dérivé de BigTable.

### **SQL vs. NoSQL**  
NoSQL est orienté colonnes: entendons par là que l'on peut ajouter des colonnes à chaque enregistrement aussi facilement qu'on ajoute des lignes (par INSERT/UPDATE) dans le modèle relationnel.  
**NoSQL n'a pas de schéma conceptuel** et peut évoluer avec le temps en nombre de colonnes comme de lignes.
Mais qu'est-ce qui fait que NoSQL soit beaucoup plus rapide? Cela tient surtout à la façon dont on traite les colonnes variables. Prenons un exemple. Supposons que l'on gère le trafic d'un aéroport avec la liste de tous les vols. Une table classique aura la forme suivante:  
Numéro de vol 	Avion 	Pilote 	Itinéraire  
001 	Airbus 	Joe 	NY-Delhi  
  
Mais on ne peut avoir une colonne pour le nom de chaque passager. Et les avions et les vols ont un nombre de  
passagers très variable, la table contiendrait une quantité de trous et la recherche de données en serait  
ralentie d'autant.  
  
Voilà comment le modèle relationnel classique traite le problème. On crée une table "Passagers" de la forme 
suivante.  
Numéro de vol 	Nom passager  
001 	x  
001 	y  
001 	z  
  
La même table contiendra tous les vols et tous les noms de passagers. Il va de soi qu'accèder aux données 
suppose le traitement d'une quantité d'informations avant de parvenir à l'information cherchée.  
  
Une ligne de table NoSQL quand à elle aura la forme suivante:  
Numéro de vol 	Avion 	Pilote 	Itinéraire 	  
001 	Airbus 	Joe 	NY-Delhi 	x 	y 	z  
  
Le nombre de colonnes pour chaque vol dépend du nombre de passagers. Trouver un passager sur un vol sera évidemment beaucoup plus rapide dans un tel modèle mais surtout, modifier les données sera infiniment plus facile.

# **TP**

Les bases netflix_titles.csv,netflix_titles.csv ont été récupérées.  
Une base relationnelle netflix incluant les ".csv" en tant que table a été créer.

### 3. Créer une base de données ‘netflix’  
a)Lancer mysql en ligne de commande:  
mysql -u jpphi -p  
b)Création de la bdd NetFlix  
MariaDB [(none)]> create database NetFlix;  
Query OK, 1 row affected (0.000 sec)  

### 4. Créer une table appelée ‘netflix_title’, importer les données provenant du fichier netflix_titles.csv  
Ce fichier commprend 1 ligne nom de colonnes et 6234 enregistrements.  
Pour qualibrer au plus juste la taille des différentes colonnes on utilisera python.

In [41]:
import pandas as pd
import pymysql


title='/home/jpphi/Documents/brief/brief2-bdd/netflix_titles.csv'
dft=pd.read_csv(title, encoding='latin1')

dft.info()
#df_title.head(10)
#print(df_title.director.values)
#print(dft.title)
#print(dft.director)
l_type= 0
l_title= 0
l_director= 0
l_cast= 0
l_country=0
l_date_added= 0
l_rating= 0
l_duration= 0
l_listed_in= 0
l_description= 0

for c in dft.type:
    c=str(c)
    if len(c)> l_type:
        l_type= len(c)

for c in dft.title:
    c=str(c)
    if len(c)> l_title:
        l_title= len(c)

for c in dft.director:
    c=str(c)
    if len(c)> l_director:
        l_director= len(c)

for c in dft.cast:
    c=str(c)
    if len(c)> l_cast:
        l_cast= len(c)

for c in dft.country:
    c=str(c)
    if len(c)> l_country:
        l_country= len(c)


for c in dft.date_added:
    c=str(c)
    if len(c)> l_date_added:
        l_date_added= len(c)


for c in dft.rating:
    c=str(c)
    if len(c)> l_rating:
        l_rating= len(c)


for c in dft.duration:
    c=str(c)
    if len(c)> l_duration:
        l_duration= len(c)


for c in dft.listed_in:
    c=str(c)
    if len(c)> l_listed_in:
        l_listed_in= len(c)


for c in dft.description:
    c=str(c)
    if len(c)> l_description:
        l_description= len(c)

print("type:",l_type)
print("title:",l_title)
print("director:",l_director)
print("cast:",l_cast)
print("country:",l_country)
print("date_added:",l_date_added)
print("rating:",l_rating)
print("duration:",l_duration)
print("listed_in:",l_listed_in)
print("description:",l_description)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB
type: 7
title: 104
director: 208
cast: 771
country: 123
date_added: 19
rating: 8
duration: 10
listed_in: 79
description: 250

Colonnes et leurs types:  
show_id INT PRIMARY KEY NOT NULL AUTO_INCREMENT,    
type  VARCHAR(8),  
title VARCHAR(105),  
director VARCHAR(209),  
cast VARCHAR(772),  
country VARCHAR(124),  
date_added VARCHAR(20),  
release_year INT,  
rating VARCHAR(9),
duration VARCHAR(11),  
listed_in VARCHAR(80),  
description VARCHAR(251)  

On notera la ligne SET GLOBAL local_infile = 1; qui permet l'importation des données

MariaDB [NetFlix]> CREATE TABLE netflix_titles(show_id INT PRIMARY KEY NOT NULL AUTO_INCREMENT,    
    -> type  VARCHAR(8),  
    -> title VARCHAR(105),  
    -> director VARCHAR(209),  
    -> cast VARCHAR(772),  
    -> country VARCHAR(124),  
    -> date_added VARCHAR(20),  
    -> release_year INT,  
    -> rating VARCHAR(9),
    -> duration VARCHAR(11),  
    -> listed_in VARCHAR(80),  
    -> description VARCHAR(251));
Query OK, 0 rows affected (0.018 sec)

MariaDB [NetFlix]> show tables;
+-------------------+
| Tables_in_NetFlix |
+-------------------+
| netflix_titles    |
+-------------------+
1 row in set (0.000 sec)

MariaDB [NetFlix]> SET GLOBAL local_infile = 1;
Query OK, 0 rows affected (0.000 sec)

MariaDB [NetFlix]> LOAD DATA LOCAL INFILE '/home/jpphi/Documents/brief/brief2-bdd/netflix_titles.csv' 
    -> INTO TABLE netflix_titles
    -> CHARACTER SET latin1
    -> FIELDS TERMINATED BY ',' 
    -> ENCLOSED BY '"'
    -> LINES TERMINATED BY '\n'
    -> IGNORE 1 ROWS;
Query OK, 3558 rows affected, 4502 warnings (0.121 sec)
Records: 3558  Deleted: 0  Skipped: 0  Warnings: 4502

### 5. Créer une table appelée ‘netflix_shows’ provenant du fichier Netflix Shows.csv avec la table netflix_titles  
Ce fichier commprend 1 ligne nom de colonnes et 1000 enregistrements.  
Pour qualibrer au plus juste la taille des différentes colonnes on utilisera python.

In [48]:
import pandas as pd
import pymysql

title='/home/jpphi/Documents/brief/brief2-bdd/Netflix_Shows.csv'
dfs=pd.read_csv(title, encoding='latin1')

dfs.info()

l_title= 0
l_rating= 0
l_ratingLevel= 0

for c in dfs.title:
    c=str(c)
    if len(c)> l_title:
        l_title= len(c)

for c in dfs.rating:
    c=str(c)
    if len(c)> l_rating:
        l_rating= len(c)

for c in dfs.ratingLevel:
    c=str(c)
    if len(c)> l_ratingLevel:
        l_ratingLevel= len(c)

print("title:",l_title)
print("rating:",l_rating)
print("ratingLevel:",l_ratingLevel)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              1000 non-null   object
 1   rating             1000 non-null   object
 2   ratingLevel        941 non-null    object
 3   ratingDescription  1000 non-null   int64
 4   release year       1000 non-null   int64
 5   user rating score  605 non-null    float64
 6   user rating size   1000 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 54.8+ KB
title: 63
rating: 8
ratingLevel: 125

Colonnes et leurs types:  
title varchar(64)  
rating varchar(4)  
ratingLevel varchar(126)  
ratingDescription INT64  
release year INT64    
user rating score FLOAT64   
user rating size INT64

MariaDB [NetFlix]> CREATE TABLE netflix_shows(
    -> title varchar(64),
    -> rating varchar(4),
    -> ratingLevel varchar(126),
    -> ratingDescription INT,
    -> `release year` INT,
    -> `user rating score` FLOAT,
    -> `user rating size` INT);
Query OK, 0 rows affected (0.012 sec)

MariaDB [NetFlix]> show tables;
+-------------------+
| Tables_in_NetFlix |
+-------------------+
| netflix_shows     |
| netflix_titles    |
+-------------------+
2 rows in set (0.001 sec)

MariaDB [NetFlix]>

On entre avec la commande : sudo mysql --local-infile=1 -u root ce qui évite d'avoir à taper la ligne de commande SET GLOBAL local_infile = 1

(base) jpphi@debian-jpphi:~/Documents/brief/brief2-bdd$ sudo mysql --local-infile=1 -u root
Welcome to the MariaDB monitor.  Commands end with ; or \g.
Your MariaDB connection id is 44
Server version: 10.3.24-MariaDB-2 Debian buildd-unstable

Copyright (c) 2000, 2018, Oracle, MariaDB Corporation Ab and others.

Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.

MariaDB [(none)]> use NetFlix;
Reading table information for completion of table and column names
You can turn off this feature to get a quicker startup with -A

Database changed
MariaDB [NetFlix]> show tables;
+-------------------+
| Tables_in_NetFlix |
+-------------------+
| netflix_shows     |
| netflix_titles    |
+-------------------+
2 rows in set (0.000 sec)

MariaDB [NetFlix]> LOAD DATA LOCAL INFILE '/home/jpphi/Documents/brief/brief2-bdd/Netflix_Shows.csv' 
    -> INTO TABLE netflix_shows
    -> CHARACTER SET latin1
    -> FIELDS TERMINATED BY ',' 
    -> ENCLOSED BY '"'
    -> LINES TERMINATED BY '\n'
    -> IGNORE 1 ROWS;
Query OK, 1000 rows affected, 1933 warnings (0.024 sec)
Records: 1000  Deleted: 0  Skipped: 0  Warnings: 1933

MariaDB [NetFlix]>

### 6. Afficher tous les titres de films de la table netflix_titles dont l’ID est inférieur strict à 80000000
Sur DBeaver:  
Ouvrir l'éditeur sql.  
SELECT title FROM netflix_titles_csv where show_id <80000000;  

En ligne de commande sur MariaDB:  
MariaDB [(none)]> use netflix  
MariaDB [netflix]> SELECT title FROM netflix_titles_csv where show_id <80000000;

### 7. Afficher toutes les durée des TV Show  
SELECT duration FROM netflix_titles_csv where type= "TV Show";

### 9. Afficher tous les noms de films communs aux 2 tables (netflix_titles et netflix_shows)
SELECT * FROM netflix_titles_csv INNER JOIN Netflix_Shows_csv ON  netflix_titles_csv.title = Netflix_Shows_csv.title

### 10. Calculer la durée totale de tous les TV Show de votre table netflix_titles
SELECT sum( CAST(SUBSTR(duration, 1,3) AS INT))  from netflix_titles_csv WHERE type = 'Movie';

### 11. Compter le nombre de TV Shows de votre table ‘netflix_shows’ dont le ‘ratingLevel’ est renseigné.
SELECT COUNT(netflix_titles_csv.type) FROM netflix_titles_csv INNER JOIN  Netflix_Shows_csv
on netflix_titles_csv.title = Netflix_Shows_csv.title WHERE (Netflix_Shows_csv.ratingLevel is Not NULL 
and netflix_titles_csv.type="TV Show");

### 12. Compter les films et TV Shows pour lesquels les noms (title) sont les mêmes sur les 2 tables
et dont le ‘release year’ est supérieur à 2016.
SELECT COUNT(*) FROM netflix_titles_csv INNER JOIN  Netflix_Shows_csv on netflix_titles_csv.title = Netflix_Shows_csv.title WHERE netflix_titles_csv.release_year > 2016;

### 13. Supprimer la colonne ‘rating’ de votre table ‘netflix_shows’
ALTER TABLE Netflix_Shows_csv drop rating;

### 14. Supprimer les 100 dernières lignes de la table ‘netflix_shows’
ALTER TABLE Netflix_Shows_csv ADD id INT NOT NULL AUTO_INCREMENT primary key first
DELETE FROM Netflix_Shows_csv ORDER BY id DESC LIMIT 100;

### 15. Le champs “ratingLevel” pour le TV show “Marvel's Iron Fist” de la table ‘netflix_shows’ est vide, pouvez-vous ajouter un commentaire ?  
UPDATE Netflix_Shows_csv SET ratingLevel = 'nouvelle valeur' WHERE title="Marvel's Iron Fist";


### 16. Réaliser une veille sur le modèle d’analyse et de conception Merise
https://www.youtube.com/watch?v=jaQGNDqXHxc
  
https://www.youtube.com/watch?v=1zPUqXADuYE  
  
https://www.youtube.com/watch?v=VFHVNA8xgK0

**https://cyril-gruau.developpez.com/merise/#LII-A**  
  
**http://pise.info/modelisation/merise.htm**  
  
https://christian-roze.fr/for/formerise.pdf

### 17. Modéliser (Merise) votre Base de données netflix. Que pouvez-vous dire de cette modélisation ?  
#### **Étude des données contenues dans les 2tables:**  
La table **netflix_titles** comprend les éléments suivants:  
**show_id** identifiant unique de type unsigned Int et pouvant servir de clef primaire, **type** (Movie ou TV Show, mais on pourrait imaginer d'autre type comme documentaire, rencontre sportive,...), **title** titre de la diffusion, **director** le ou les réalisateurs, **cast** casting du film, **country** le ou les pays ayant financé le film, **date_added** date d'ajout dans la base netflix, **release_year** date de sortie, **description** synopsis, **listed_in** genre du film (comédie, drame,...), **duration** durée du film ou nombre de saison pour une série, **rating** classement de type PEGI.  
  
La table **Netflix_Shows** comprend les éléments suivants:  
**title, rating, release year** sont identiquent à la table netflix_titles (c'est cette redondance que nous chercheront à éliminer avec la méthode d'analyse **Merise**, **ratingLevel** explicite le champs 'rating', **ratingDescription** code le 'rating' avec un chiffre, **user rating score** l'évaluation par l'utilisateur et **user rating size** est... mytérieux mais semble concerner l'utilisateur.  

#### **Regrouper les différentes données dans des entités:**  
On peu distinguer plusieurs entités:  
Une première entité peut regrouper les caractéristiques des documents à diffuser (film ou série TV, mais qui pourraient être élargie aux documentaires, rediffusions sportives,....):  
**doc_diff** contiendra:  
* show_id qui sera une clef primaire de cette table et de type BIG UNSIGNED INT,
* type : Movie, TV Show et éventuellement d'autre types et sera un VARCHAR,
* title titre de la diffusion de type VARCHAR
* date_added : date d'ajout dans la base netflix de type DATE
* release_year  : année de sortie de type SMALL UNSIGNED INT,
* duration : durée du film ou nombre de saison pour une série. Le type sera VARCHAR car la donnée est noté sous les formes 65 min pour la durée d'un film ou 5 saison pour une série,
* description : synopsis de type VARCHAR  
* cast regroupant les participants et sera de type VARCHAR  Cette donnée aurait intégrer une entité "casting"  
par ailleurs cette entité devra contenir des clefs étrangères pour faire le liens avec les autres entités.  
* num_real clef étrangère de type BIG UNSIGNED INT  
* num_pays clef étrangère de type BIG UNSIGNED INT  
* num_genre clef étrangère de type BIG UNSIGNED INT  
* num_pegi clef étrangère de type BIG UNSIGNED INT  
* num_pegi_level clef étrangère de type BIG UNSIGNED INT   
* num_genre clef étrangère de type BIG UNSIGNED INT  

# Utilité de faire des entité avec des données de type int ?
* num_pegi_desc étrangère de type BIG UNSIGNED INT  





L'entité **realisation** sera construit avec le contenu du champs director et une clé primaire. Le champs director fait l'objet d'une entité différente car un même réalisateur peut avoir fait plusieurs films. On notera que le champ réalisateur peut ne pas être renseigner !!! 2 possibilités: Soit le gestionnaire de la BD à un poil dans la main, soit le réalisateur est suffisament lucide pour ne pas vouloir être associé à une grosse daube... Mais cela sort du cadre de la modélisation Merise.  
* num_real clef primaire de type BIG UNSIGNED INT
* director regroupant le ou les réalisateurs de type VARCHAR  
  
Une entité **casting** aurait pu être construite sur la même philosophie que l'entité realistion, cependants les doublons sont trés peu probable compte tenu du nombre de participant... Elle aurait été construite avec:  
* num_cast clef primaire de type BIG UNSIGNED INT
* cast regroupant les participants et sera de type VARCHAR  
    
L'entité **pays** sera construit sur le modèle de l'entité realisation et contiendra le contenu du champs country et une clé primaire.
* num_pays clef primaire de type BIG UNSIGNED INT
* country de type VARCHAR  
  
L'entité **genre** sera construit sur le modèle de l'entité realisation et contiendra le contenu du champs listed_in et une clé primaire.
* num_genre clef primaire de type BIG UNSIGNED INT
* listed_in genre du film (comédie, drame,...) de type VARCHAR  
  
L'entité **pegi** sera construit sur le modèle de l'entité realisation et contiendra le contenu du champs rating et une clé primaire.  
* num_pegi clef primaire de type BIG UNSIGNED INT
* rating classement de type PEGI, de type VARCHAR.  
  
L'entité **pegi_level** sera construit sur le modèle de l'entité realisation et contiendra le contenu du champs ratingLevel et une clé primaire.  
* num_pegi_level clef primaire de type BIG UNSIGNED INT
* ratingLevel explicite le champs 'rating' de type VARCHAR  

L'entité **pegi_desc** sera construit sur le modèle de l'entité realisation et contiendra le contenu du champs ratingDescription et une clé primaire.  
* num_pegi_desc clef primaire de type BIG UNSIGNED INT
* ratingDescription code le 'rating' avec un chiffre de type SMALL INT  


La table **Netflix_Shows** comprend les éléments suivants:  
, **user rating score** l'évaluation par l'utilisateur et **user rating size** est... mytérieux mais semble concerner l'utilisateur.  



# **regression logistique pour lundi et probabilité**  
# **Mardi mercredi mongo db**

A DEFRICHER  
  
https://hachemdata.files.wordpress.com/2019/11/5._modelisation_dune_base_de_donnees.pdf  
https://hachemdata.files.wordpress.com/2019/11/6._le_recensement_des_donnees.pdf  
https://hachemdata.files.wordpress.com/2019/11/8._le_modele_conceptuel_des_donnees.pdf  
https://www.cours-gratuit.com/cours-merise/tutoriel-pour-apprendre-a-modeliser-des-donnees-par-la-methode-merise  
  

https://www.youtube.com/watch?v=1zPUqXADuYE  
<span style="color: #0000FF">**Exellent cours vidéo en 2 parties avec des vidéos exercices:**</span>  
https://www.youtube.com/watch?v=VFHVNA8xgK0

# **Correction**  
NidhalAujourd’hui à 09:42
SELECT t.title FROM netflix_title t, netflix_shows s WHERE t.title = s.title;
Anthony BonfilsAujourd’hui à 09:44
SELECT NetflixShows.title 
FROM NetflixShows INNER JOIN NetflixTitle ON NetflixShows.title = NetflixTitle.title 
GROUP BY NetflixShows.title;

10

--12. Compter les films et TV Shows pour lesquels les noms (title) sont les mêmes sur les 2 tables et dont le ‘release year’ est supérieur à 2016.

SELECT COUNT(DISTINCT netflix_titles.title)
FROM netflix_titles 
INNER JOIN netflix_shows 
ON netflix_titles.title = netflix_shows.title
WHERE netflix_shows.release_year > 2016 AND netflix_titles.release_year > 2016;

Question12)
AS nb  FROM netflix_title nt, netflix_shows ns WHERE nt.title =  ns.title && nt.release_year = 2016 ;

UPDATE netflix_shows SET ratingLevel = "it's a comment" WHERE ID = 26 AND title = "Marvel's Iron Fist";

show_id : BIG UNSIGNED INT,
type : VARCHAR,
title : VARCHAR
date_added : DATE
release_year : SMALL UNSIGNED INT,
duration : VARCHAR
description : VARCHAR